@font-face {
    font-family: 'icones';
    src: url(../icons/icones.ttf)
}

.cabecalho {
    position:fixed;
    top: 0;
    width:100%;
    z-index: 1;
    background-color: var(--cinza-escuro-menu);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:3em;   
    overflow:hidden;
}

.titulo__cabecalho {
    font-size:var(--tamanho-fonte-titulo);
    color: var(--cor-fonte-menu);
    font-family: var(--fonte-menu);
    font-weight: var(--peso-fonte-menu);
}

.menu__lista {
    position: static;
    display:flex;
    justify-content:space-between;
    gap: 16px;
    align-items: center;

}

.menu__mobile {
    display: none;
}

.menu__item {
    display:inline-block;
    padding: 1em;
    background-color: var(--cinza-medio-menu);
    color: var(--cor-fonte-menu);
    font-family: var(--fonte-menu);
    transition: 500ms;
}

.menu__item:hover {
    text-shadow: 0 0 2px var(--cor-destaque); 
    border-bottom: 8px solid var(--cor-destaque);
}

.cabecalho__menu {
    display: none;
}
@media screen and (max-width:480px) {
    .cabecalho {
        position: static;
        width:100vw;
        margin: 0 auto;
    }
    
    .cabecalho__menu {
        display: block;
        border: none;
        box-shadow: none;
        padding: 0;
        background: none;
    }
    .cabecalho__menu i::before {
        font-family:'icones';
        color: var(--cor-fonte-menu);
        content: "\e904";
        font-size: 26px;
        
    }
    
        
    .titulo__cabecalho {
        text-align: center;
        padding:1em 0;
        font-size:1.5em;
        display: block;
    }

    .menu {
        display: none;
    }
   

    .menu__mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap:1.5em;
        width:70vw;
        background-color: var(--cinza-escuro-menu);
        position: absolute;
        left:-100vw;
        padding: 2em 0;
       
        transition: 0.5s;

    }

    .menu__mobile--ativo {
        left: 0;
        top:3em;
        transition: 0.5s;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    
    }

    .menu__item {
        margin-top: 0;
        box-sizing: border-box;
        text-align: center;
        width:inherit;
        border-radius:1em;
    }

}
