.projetos {
    box-sizing: border-box;
    width:1440px;
    margin:4rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8em 1fr 1fr;
    gap: 24px;
    row-gap:64px;
    justify-items: center;
    align-items: center;
}

.titulo__projetos {
    margin-top: 4rem;
    grid-row: 1;
    grid-column: span 2;
}
.icon--projetos {
    display:inline-block;
    background-image: url(../icons/iconeProjetos.png);
    background-repeat: no-repeat;
    width:65px;
    height: 45px;
    margin: 0 16px;
    transform: translateY(20%);
}

.card_projetos {
    background-color: var(--cinza-escuro-background);
    box-sizing: border-box;
    width:35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 5px;

    box-shadow: 16px 16px 32px #1a1e22,
                -16px -16px 32px #262c30;;
}

.img_projetos {
    width:30rem;
    height:20rem;
    display:inline-block;
    border-radius:5px;
}

.titulo_card--projetos {
    margin:0.5em 0;
}

.card__1 {
    grid-row: 2;
    grid-column: 1;
    
}

.card__2 {
    grid-row: 2;
    grid-column: 2;
    
}
.card__3 {
    grid-row: 3;
    grid-column: 1;
    
}

.card__4 {
    grid-row: 3;
    grid-column: 2;
   
}

.link_card {
    color: var(--cor-destaque);
}

@media screen and (max-width:480px) {
    .projetos {
        width:100vw;
        display: flex;
        flex-direction: column;
        gap:2em;
    }

    .titulo__projetos {
        margin: 1em 0;
    }

    .card_projetos {
        width:80vw;
    }

    .img_projetos {
        width:90%;
        height:10em;
    }
}