.sobre {
    margin:15rem auto;
    width:1440px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding-top: 4em;
}

.sobre--imagem {
    width:300px;
    border-radius: 50%;
    box-shadow: 0 0 16px var(--cor-destaque);
    display:inline-block;
}

.conteudo__sobre--titulo {
    width:75%;
    font-family: var(--fonte-menu);
    font-size: var(--tamanho-fonte-titulo);
    font-weight: var(--peso-fonte-menu);
    color: var(--cor-fonte-principal);
    text-align: left;

      
}

.conteudo__sobre {
    display:flex;
    flex-direction: column;
    width: 75%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.conteudo__sobre--texto {
    color: var(--cor-fonte-principal);
    font-family:var(--fonte-principal);
    width:75%;
    color: var(--cor-fonte-principal);
    line-height: 1em;
    margin: 1.5rem 0;
    font-size: var(--tamanho-fonte-sobre);
}

.conteudo__sobre--destaque {
    color: var(--cor-destaque);
}

@media screen and (max-width:480px) {
    .sobre--imagem {
        width:15rem;
        margin: 0 auto;
    }

    .sobre {
        width:100vw;
        margin: 10em auto;
        display: flex;
        flex-direction: column;
        overflow:hidden;
        box-sizing: border-box;
        margin-bottom: 2em;
        
    }
    .conteudo__sobre--titulo {
        text-align: center;
        font-size: 1.5em;
    }

    .conteudo__sobre {
        text-align: center;
        padding-top: 2em;
        flex-wrap: wrap;
        width:100vw;
        font-size: 1.1em;
        line-height: 0.2em;
    }

    .conteudo__sobre--texto {
        font-size: 1.2rem;
        line-height: 1.2em;
    }


}
