:root {
    --tamanho-fonte:18px;
    --tamanho-fonte-titulo:2rem;

    --tamanho-fonte-sobre:24px;

    --cinza-medio-menu: #4C555C;
    --cinza-escuro-menu: #32383D;
    --cor-fonte-menu: #cccccc;
    --fonte-menu:'Jura', sans-serif;
    --peso-fonte-menu: 700;

    --cinza-escuro-background: #202529;
    

    --fonte-principal:'Jura', sans-serif;
    --cor-fonte-principal: #CCCCCC;

    --cor-destaque: #1BC6B4;

    --titulo-card:1.5rem;
    --subtitulo-card:1.2rem;
}
html {
    scroll-behavior: smooth;
}

